@import '../login/login.component.scss';

@media(max-width: 650px) {
    .login-headline[_ngcontent-ng-c258564552] {
        height: 64px;
        line-height: 64px;
        margin-bottom: 86px;
        text-align: center;
    }

    .login-card-div[_ngcontent-ng-c258564552] {
        margin: 24px;
    }
  }