@import '../login/login.component.scss';

.mat-mdc-card-header {
    padding: unset;
}

.password-headline {
    color: #2e3edf;
    font-size: 48px;
    height: 64px;
    line-height: 64px;
    margin-bottom: 86px;
    text-align: center;
}

.button-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    mat-card-actions {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
    }
  }