<div class="header">
  @if (common.component == "home" || common.component == "logout" ||
  common.component == "imprint-privacy") {
  <div [@fadeInOut]>
    <img alt="Logo" src="../../../assets/img/Logo.svg" />
  </div>
  }@if (common.component == "videos") {
  <div [@fadeInOut]>
    <img alt="Logo" src="../../../assets/img/Symbol.svg" />
  </div>
  } @if (common.component == "home") {
  <div class="text-signup">
    <button mat-flat-button (click)="redirectToLogin()">Log In</button>
  </div>
  } @if (common.component == "videos") {
  <div class="text-signup">
    @if (!common.loading) {
    <button mat-flat-button (click)="logout()">
      <mat-icon class="material-symbols-outlined">logout</mat-icon> Log Out
    </button>
    } @else {
    <mat-spinner></mat-spinner>
    }
  </div>
  } @if (common.component == "imprint-privacy") {
  <div class="text-signup">
    <mat-icon (click)="goBack()" class="material-symbols-outlined"
      >arrow_back</mat-icon
    >
  </div>
  }
</div>
