:host {
  position: fixed;
    top: 0;
    width: 100%;
}

@mixin text-signup($d: flex, $ai: center) {
    display: $d;
    align-items: $ai;
  }

.header {
    padding: 0 32px;
    @include text-signup();
    justify-content: space-between;
    background-color: transparent;
    height: 108px;
  }
  
  .text-signup {
    display: flex;
  }