<div class="header">
  @if (common.component == "home" || common.component == "logout" || common.component == "imprint-privacy")  {
  <div>
    <img alt="Logo" src="../../../assets/img/Logo.svg" />
  </div>
  }@if (common.component == "videos")  {
    <div>
      <img alt="Logo" src="../../../assets/img/Symbol.svg" />
    </div>
  } @if (common.component == "home") {
  <div class="text-signup" [@fadeInOut]>
    <button mat-flat-button (click)="redirectToLogin()">Log In</button>
  </div>
  } @if (common.component == "videos") {
  <div class="text-signup" [@fadeInOut]>
    <button mat-flat-button (click)="logout()">
      <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>Log Out
    </button>
  </div>
  } @if (common.component == "imprint-privacy") {
  <div class="text-signup" [@fadeInOut]>
    <mat-icon
      (click)="redirectToLogin()"
      aria-hidden="false"
      fontIcon="arrow_back"
    ></mat-icon>
  </div>
  }
</div>
