:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@mixin text-signup($d: flex, $ai: center) {
  display: $d;
  align-items: $ai;
}

.header {
  padding: 0 32px;
  @include text-signup();
  justify-content: space-between;
  background-color: transparent;
  height: 108px;
}

.text-signup {
  display: flex;
}

mat-icon {
  color: white;
  width: 32px;
  height: 32px;
  font-size: 32px;
  cursor: pointer;
  &:hover {
    color: #2E3EDF;
  }
}