:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) -27.44%,
      rgba(0, 0, 0, 0.44) 44.23%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../../assets/img/bg-login.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
  display: flex;
  justify-content: center;
}

.login-card-div {
  width: Fixed (520px) px;
  height: Hug (505px) px;
  padding: 43px 56px 43px 56px;
  border-radius: 48px;
  opacity: 0px;
}

.login-headline {
  color: #2e3edf;
  font-size: 48px;
  height: 64px;
}

.centered-headline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-input-fields {
  width: 100%;
}

::ng-deep .mat-mdc-form-field-infix {
  width: 408px !important;
}

.button-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  a {
    color: #2e3edf;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
  }
  span {
    color: #000000;
    font-size: 18px;
  }

  div{
    display: flex;
    gap: 16px;
  }
}

.submit-button{
  color: #FFFFFF !important;
}

.invalid-button {
  background-color: #9ba1f0 !important;
}