<div class="videos" [ngStyle]="getBackgroundStyle()">
  <div class="content-overlay">
    <h3>{{ title }}</h3>
    <br />
    <span>{{ description }}</span>
    <br /><br />
    <button mat-flat-button (click)="openVideoDialog()">
      <mat-icon aria-hidden="false" fontIcon="play_arrow"></mat-icon>Play
    </button>
  </div>
</div>
<div class="videos-list">
  <mat-list>
    @for (category of getGroupedVideoKeys(); track category) {
    <div mat-subheader>{{ category }}</div>
    <div class="vertical">
      @for (video of groupedVideos[category]; track video) {
      <div class="thumbnail-wrapper">
        @if (video.thumbnail_file) {
        <img
          [src]="video.thumbnail_file"
          alt="Video Thumbnail"
          class="video-thumbnail"
          (click)="showInfo(video)"
        />
        }
      </div>
      }
    </div>
    }
  </mat-list>
</div>
