:host {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h3,h4{
    color: #FFFFFF;
}
span {
    color: #FFFFFF;
}
.legal-notice{
    display: flex;
    flex-direction: column;
    margin: 128px 32px;
}