:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) -27.44%,
      rgba(0, 0, 0, 0.44) 44.23%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("../../assets/img/bg-login.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
  display: flex;
  justify-content: center;
}

.login-card-div {
  width: 520px;
  height: fit-content;
  padding: 43px 56px 43px 56px;
  border-radius: 48px;
  opacity: 0px;
}

.login-headline {
  color: #2e3edf;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.centered-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-bottom: 48px;
}

.login-input-fields {
  width: 100%;
}

::ng-deep .mat-mdc-form-field-infix {
  width: 408px !important;
}

.button-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.submit-button {
  color: #ffffff !important;
}

.span-link {
  text-align: center;
  display: flex;
  margin-bottom: 16px;
}

.invalid-button{
    background-color: #9BA1F0 !important
}

.mat-mdc-form-field{
  width: 100%;
}

@media(max-width: 650px) {
  ::ng-deep .mat-mdc-form-field-infix {
    width: 278px !important
  }

  .login-card-div {
    width: 358px;
    padding: 43px 24px 43px 24px;
  }
}